<div class="navbar">
    <nav class="wrapper navig">
        <div class="navig__exp navig__con--left">
            <span id="expand">=</span>
        </div>
        {{!-- <div class="navig__con navig__con--left logo">
            <ul>
                <li><span><a href="#logo">logo</a></span></li>
                <li><span><a href="#news">news</a></span></li>
                <li><span><a href="#scoreboard">scoreboard</a></span></li>
            </ul>
        </div>
        <div class="navig__con navig__con--center main">
            <ul>
               <li><span id="play"><a href="#play">play</a></span></li>
            </ul>
        </div>
        <div class="navig__con navig__con--right game">
            <ul>
                <li><span><a href="#Profile">Profile</a></span></li>
                <li><span><a href="#Contact">Contact</a></span></li>
                <li><span><a href="#FAQ">?/FAQ</a></span></li>
            </ul>
        </div> --}}
        <div class="navig__con navig__con--left logo">
            <ul class="nav_list">
                <li><span><a href="/">index</a></span></li>
                <li class="drop">
                    <span><a href="/articles">articles</a></span>
                    <ul class="dropdown">
                        <li><span><a href="/articles">index</a></span></li>
                        {{#if logedIn}}
                            <li><span><a href="/articles/add">post</a></span></li>
                        {{/if}}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="navig__con navig__con--right game">
            <ul class="nav_list">
                <li class="drop">
                    <span><a href="#">profil</a></span>
                    <ul class="dropdown">
                        {{#if logedIn}}
                            <li><span><a href="/users/logout">logout</a></span></li>
                        {{else}}
                            <li><span><a href="/users/register">register</a></span></li>
                            <li><span><a href="/users/login">login</a></span></li>
                        {{/if}}
                    </ul>
                </li>
                <li><span><a href="#FAQ">?/FAQ</a></span></li>
            </ul>
        </div>
    </nav>
</div>