<div class="nav">
    <nav class="wrapped">
        <ul>
            <li><a href="#nav1">nav1</a></li>
            <li><a href="#nav2">nav2</a></li>
            <li><a href="#nav3">nav3</a></li>
            <li><a href="#nav4">nav4</a></li>
            <li><a href="#nav5">nav5</a></li>
            <li><a href="#nav6">nav6</a></li>
            <li><a href="#nav2">nav2</a></li>
            <li><a href="#nav3">nav3</a></li>
            <li><a href="#nav4">nav4</a></li>
        </ul>
    </nav>
</div>