<div class="navbar">
    <nav class="wrapper navig">
        <div class="navig__exp navig__con--left">
            <span id="expand">=</span>
        </div>
        <div class="navig__con navig__con--left logo">
            <ul>
                
                <li><span><a href="#logo">logo</a></span></li>
                <li><span><a href="#news">news</a></span></li>
                <li><span><a href="#scoreboard">scoreboard</a></span></li>
            </ul>
        </div>
        <div class="navig__con navig__con--center main">
            <ul>
               <li><span id="play"><a href="#play">play</a></span></li>
            </ul>
        </div>
        <div class="navig__con navig__con--right game">
            <ul>
                <li><span><a href="#Profile">Profile</a></span></li>
                <li><span><a href="#Contact">Contact</a></span></li>
                <li><span><a href="#FAQ">?/FAQ</a></span></li>
            </ul>
        </div>
    </nav>
</div>