<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/script.js" defer></script>
  <script src="/javascripts/ajax.js" defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{{> header }}
<main class="wrapper">
<div class="content">
  {{{body}}}
</div>
</main>

</body>
</html>