<form action="/articles/add" method="post">
    <div id="form-group">
        <label>
            Title 
            <input type="text" name="title">
        </label><br><br>
        <label>
            Content
            <textarea name="content"></textarea>
        </label>
        <br><button type="submit">submit</button>
    </div>
</form>