<h1>
    show article
</h1>

<p>
    <span>ID: </span>{{article.id}}<br>
    <span>Title: </span>{{article.title}}<br>
    <span>Content: </span>{{article.content}}<br>
    <a href="/articles/edit/{{article.id}}">Edit</a>
</p>
