body {
  font: 24px sans-serif, arial;
  background-color: rgb(128, 128, 128);
  margin: 0;
}

.content {
  background-color: aqua;
  padding: 10px 20px;
}

p {
  font: 16px "Times New Roman", arial;
}

/* layout */
.wrapper {
  max-width: 1012px;
  margin: 0 auto;
  padding: 20px;
}

/* header */
header {
  background-color: blueviolet;
  padding: 100px 0;
  min-height: 10vw;
  text-align: center;
}

header span {
  display: inline-block;
  align-content: center;
  vertical-align: middle;
}

  /* navigation */
  nav span {
    padding: 9px;
    font-size: 20px;
  }
  .navbar{
    position: fixed;
    top: 0;
    background-color: rgb(22, 22, 22);
    width: 100%;
  }

  .navig{
    background-color: rgb(22, 22, 22);
    display: flex;
  }

  .navig__con{
    flex:1;
    display:flex;
  }

  .navig__con--left{
    justify-content: flex-start;
  }

  .navig__con--center{
    justify-content: center;
  }

  .navig__con--right{
    justify-content: flex-end;
  }

  nav ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  nav li {
    flex: 1;
  }


  nav ul li span a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: whitesmoke
  }

  span a:hover{
    color: rgb(88, 87, 87);
  }

  .active a{
    color: rgb(88, 87, 87);
  }

  #play {
    background-color: goldenrod
  }

  #expand{
    display: none;
    background-color: goldenrod;
    cursor: pointer;
  }
  
  .dropdown {
    display: none;
    font-size: 14px;
    background-color: darkslategray;
  }

  .dropdown span{
    font-size: 14px;
  }

  @media only screen and (min-width: 799px){
    #test:hover .dropdown{
      position: absolute;
      display: flex;
      flex-direction: column;
    }
  }

  @media only screen and (max-width: 799px) {
      .navig {
          flex-direction: column;
      }

      .navig__con{
        justify-content: flex-start;
        display: none;
      }

      .dropdown {
        display: flex;
      }

      .nav_list > li{
        background-color: darkslategrey;
        border-bottom: 1px rgb(22, 22, 22) solid;
      }

      nav ul{
        flex-direction: column;
        flex: 1;
      }

      #expand{
        float: left;
        width: 23px;
        display: block;
        background-color: goldenrod;
      }
  }
  /* flash msg */
  .messages ul {
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    margin: 0;
  }

  .flash li{
    background-color: pink;
    padding: 3px 18px;
    border-radius: 15px;
    border: solid 1px rgb(34, 33, 33);
    text-align: left;
    margin: 0 0 10px;
  }

  .err li{
    background-color: red;
  }
  .inf li{
    background-color: blue;
  }
  .not li{
    background-color: yellow;
  }
/* article */

.article {
  background-color: rgb(88, 87, 87);
  overflow: auto;
  margin: 0 0 20px;
  padding: 12px;
  /* margin */
}