<form action="/users/login" method="post">
    <div id="form-group">
        <label>
            Login
            <input type="text" name="username">
        </label><br><br>
        <label>
            Password
            <input type="password" name="password">
        </label><br><br>
        <button type="submit">submit</button>
    </div>
</form>